<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429058055221-h8ukvka695en76of4949d1k2sigcrp5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429058055221-h8ukvka695en76of4949d1k2sigcrp5r</string>
	<key>API_KEY</key>
	<string>AIzaSyDTupf5R_Gy9mROWiv7enpSx6IwB1hwp3I</string>
	<key>GCM_SENDER_ID</key>
	<string>429058055221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycourseapp.maverick</string>
	<key>PROJECT_ID</key>
	<string>maverick-first-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>maverick-first-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429058055221:ios:a45bb65cae7050e25da57c</string>
</dict>
</plist>